{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-services-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

    {{ if .Params.hero }}
        {{ partial "framework/sections/hero/hero.html" (dict "context" $ "hero" .Params.hero) }}
    {{ else }}
        <div class="section section-base-bg">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <h1>{{ .Title }}</h1>
                        <h2>{{ .Params.description }}</h2>
                    </div>
                    {{ if .Params.image }}
                        <div class="col-12 col-lg-12" style="max-height: 400px; overflow: hidden;">
                            <img class="img-fluid" src="{{ .Params.image | relURL }}" />
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}

    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="content">{{ .Content }}</div>
                </div>
            </div>
        </div>
    </div>

{{ end }}