<section style="padding-top: 10px; padding-bottom: 10px;" class="section">
  <h2 style="margin-top: 10px; margin-bottom: 20px;">Warum mit uns zusammenarbeiten?</h2>
  <div class="section_grid row justify-content-center">
    <div class="section_grid-item col-12 col-md-6">
      <img width="40" height="40" style="margin-top: 0px; margin-bottom: 0px;" src="/images/icons/icons8-ai-100.png" />
      <h4>Data Engineering-Expertise für Ihre Projekte</h4>
      <p>Unsere Interim Data Engineers bringen tiefgehende Erfahrung mit Tools wie Apache Airflow, dbt, Kafka, Spark sowie SQL- und NoSQL-Datenbanken mit – für stabile, effiziente Datenverarbeitung.</p>
    </div>
    <div class="section_grid-item col-12 col-md-6">
      <img width="40" height="40" style="margin-top: 0px; margin-bottom: 0px;" src="/images/icons/icons8-user-engagement-male-100.png" />
      <h4>Schnelle Vermittlung aus einem starken Netzwerk</h4>
      <p>Dank unseres Netzwerks erfahrener freiberuflicher Data Engineers können wir innerhalb von 1–2 Tagen passende Expertenprofile vorstellen – geprüft und sofort einsatzbereit.</p>
    </div>
    <div class="section_grid-item col-12 col-md-6">
      <img width="40" height="40" style="margin-top: 0px; margin-bottom: 0px;" src="/images/icons/icons8-stacked-organizational-chart-100.png" />
      <h4>Rechtssicherheit bei jedem Projekt</h4>
      <p>Unsere Vertragsstrukturen wurden juristisch geprüft und schützen Sie zuverlässig vor Risiken wie Scheinselbstständigkeit – für eine sorgenfreie Projektabwicklung.</p>
    </div>
    <div class="section_grid-item col-12 col-md-6">
      <img width="40" height="40" style="margin-top: 0px; margin-bottom: 0px;" src="/images/icons/icons8-cloud-100.png" />
      <h4>Transparente Konditionen & faire Zusammenarbeit</h4>
      <p>Sie profitieren von klaren Vertragsbedingungen, marktgerechten Tagessätzen und einem vertrauensvollen Umgang – ohne versteckte Kosten oder lange Vertragslaufzeiten.</p>
    </div>
  </div>
</section>