<section style="padding-top: 10px; padding-bottom: 10px;" class="section">
  <h2 style="margin-top: 10px; margin-bottom: 20px;">Why work with us?</h2>
  <div class="section_grid row justify-content-center">
    <!-- Loop over data.items -->
    <div class="section_grid-item col-12 col-md-6">
      <img width="40" height="40" style="margin-top: 0px; margin-bottom: 0px;" src="/images/icons/icons8-ai-100.png" />
      <h4>Leverage our expertise for your success</h4>
      <p>We understand what matters in the DevOps environment. Our recruiters find the right specialists for your challenges — whether it's Kubernetes, CI/CD, cloud infrastructure, or monitoring.</p>
    </div>
    <div class="section_grid-item col-12 col-md-6">
      <img width="40" height="40" style="margin-top: 0px; margin-bottom: 0px;" src="/images/icons/icons8-user-engagement-male-100.png" />
      <h4>Fast placement from a strong network</h4>
      <p>Through our network of vetted and reliable interim specialists, we can often present suitable profiles within 1–2 days.</p>
    </div>
    <div class="section_grid-item col-12 col-md-6">
      <img width="40" height="40" style="margin-top: 0px; margin-bottom: 0px;" src="/images/icons/icons8-stacked-organizational-chart-100.png" />
      <h4>Legal compliance through misclassification checks</h4>
      <p>We protect you from legal risks: our processes and contract structures comply with regulations to prevent false self-employment — ensuring maximum legal security.</p>
    </div>
    <div class="section_grid-item col-12 col-md-6">
      <img width="40" height="40" style="margin-top: 0px; margin-bottom: 0px;" src="/images/icons/icons8-cloud-100.png" />
      <h4>Transparent terms & fair cooperation</h4>
      <p>You receive highly qualified support at competitive rates—with no hidden costs or long waiting times.</p>
    </div>
  </div>
</section>
