<section style="padding-top: 10px; padding-bottom: 10px;" class="section">
  <h2 style="margin-top: 10px; margin-bottom: 20px;">Warum mit uns zusammenarbeiten?</h2>
<div class="section_grid row justify-content-center">
  <!-- Loop over data.items -->
  <div class="section_grid-item col-12 col-md-6">
    <img width="40" height="40" style="margin-top: 0px; margin-bottom: 0px;" src="/images/icons/icons8-ai-100.png" />
    <h4>Java-Expertise für Ihre Projekte</h4>
    <p>Unsere Interim Java Developer beherrschen moderne Frameworks wie Spring Boot, Hibernate oder Jakarta EE und bringen tiefes Verständnis für skalierbare Backend-Architekturen mit.</p>
  </div>
  <div class="section_grid-item col-12 col-md-6">
    <img width="40" height="40" style="margin-top: 0px; margin-bottom: 0px;" src="/images/icons/icons8-user-engagement-male-100.png" />
    <h4>Schnelle Vermittlung aus einem starken Netzwerk</h4>
    <p>Durch unser Netzwerk verlässlicher freiberuflicher Java-Spezialisten können wir oft innerhalb von 1–2 Tagen geeignete Entwicklerprofile vorstellen – einsatzbereit und geprüft.</p>
  </div>
  <div class="section_grid-item col-12 col-md-6">
    <img width="40" height="40" style="margin-top: 0px; margin-bottom: 0px;" src="/images/icons/icons8-stacked-organizational-chart-100.png" />
    <h4>Rechtssicherheit bei jedem Projekt</h4>
    <p>Unsere Vertragsmodelle und Prozesse sind rechtlich geprüft und schützen Sie zuverlässig vor Risiken wie Scheinselbstständigkeit – für eine sorgenfreie Zusammenarbeit.</p>
  </div>
  <div class="section_grid-item col-12 col-md-6">
    <img width="40" height="40" style="margin-top: 0px; margin-bottom: 0px;" src="/images/icons/icons8-cloud-100.png" />
    <h4>Transparente Konditionen & faire Zusammenarbeit</h4>
    <p>Sie profitieren von klaren Vertragsbedingungen und marktgerechten Tagessätzen – ohne versteckte Gebühren oder langfristige Bindungen.</p>
    </div>
  </div>
</section>