    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4 mt-0  mb-3 mb-md-6">
                <div class="content">
                    <h2 id="reachout-to-us-on-linkedin">Reach out to us on LinkedIn:</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4 mt-0  mb-3 mb-md-6">
                <div class="card card-team card-has-thumbnail ">
                    <div class="card-thumbnail">
                        <a href="https://www.linkedin.com/in/iisakov/">
                            <img width="140" height="140" src="/assets/images/team/ilya-isakov-thumbnail.jpg">
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <a href="https://www.linkedin.com/in/iisakov/">
                                <h3>Ilya Isakov</h3>
                            </a>
                        </div>
                        <div class="card-jobtitle">Founder/CEO</div>
                        <div class="card-links">
                            <a href="https://www.linkedin.com/in/iisakov/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4  mb-0 mb-3 mb-md-6">
                <div class="card card-team card-has-thumbnail ">
                    <div class="card-thumbnail">
                        <a href="https://www.linkedin.com/in/maria-pronozenko-8b1b98353/">
                            <img width="140" height="140" src="/assets/images/team/maria-pronozenko-thumbnail.jpg">
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <a href="https://www.linkedin.com/in/maria-pronozenko-8b1b98353/">
                                <h3>Maria Pronozenko</h3>
                            </a>
                        </div>
                        <div class="card-jobtitle">Senior Counsultant</div>
                        <div class="card-links">
                            <a href="https://www.linkedin.com/in/maria-pronozenko-8b1b98353/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
